* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}

.margin-top {
  margin-top: 16px;
}

/* #header{
    height: 100vh;
} */

.navbar {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  list-style: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.nav-link {
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding: 0px 15px;
}

.nav-link:hover {
  background-color: #3f3d56bb;
  color: ivory;
  border-radius: 5px;
}

.home-container {
  display: flex;
  justify-content: center;
  background-image: url(Images/home-bk1.png);
  background-size: 100%;
}

.home-text {
  text-align: center;
  border: #fff8dcd0 3px solid;
  width: 30%;
  height: fit-content;
  margin-right: 20px;
  align-self: center;
  border-radius: 5px;
}

.home-text h3 {
  margin: 20px 0px;
}

.home-text p {
  margin: 0px 20px 20px 20px;
  font-size: 22px;
}

.home-image {
  width: 20%;
  height: fit-content;
  margin-left: 20px;
  padding: 20px;
}

.my-image {
  width: 90%;
  border-radius: 200px;
}

.about {
  margin: 20px 0px 20px 0px;
}

.about h3 {
  text-align: center;
  font-size: 22px;
  letter-spacing: -1px;
  padding: 20px;
}

.about-list {
  display: flex;
  list-style: none;
}

.about-list-container {
  background-color: #f7f7f7;
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  height: 500px;
}

.about-logos {
  width: 10%;
  margin: 20px;
}

.about-title-icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.skills {
  font-size: 16px;
  text-align: center;
}

.projects h3 {
  text-align: center;
  font-size: 24px;
  letter-spacing: -1px;
  padding: 20px;
}

.work-in-progress {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 10px;
}

.find-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff8dc;
  width: 25%;
}

.contact-container {
  width: 80%;
  height: fit-content;
  margin: 50px auto;
}

h3 {
  margin-bottom: 10px;
}

container p {
  margin-bottom: 40px;
}

.contact-box {
  background-color: #f7f7f7;
  border-radius: 12px;
  display: flex;
  margin-top: 40px;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: rgba(255, 248, 220, 0.733);
  border-right: 12px;
  border-radius: 0px 12px 12px 0px;
}

.contact-left h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

.input-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

.input-group, #msg {
  width: 80%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 10px 0px 10px 10px;
  /* padding-bottom: 5px; */
  border-radius: 5px;
  margin-bottom: 14px;
  /* padding-left: 10px; */
  font-size: 12px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
  display: block;
  color: black;
  font-size: 16px;
}

.contact-button {
  background-color: #fff8dc;
  text-decoration: black;
  width: 30%;
  align-self: center;
  border: none;
  outline: none;
  color: black;
  height: 35px;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0px 2px 5px 0px #3f3d56bb;
  transition-duration: 0.4s;
}

.contact-button:hover {
  background-color: #3f3d56bb;
  color: ivory;
}

tr td:first-child {
  padding-right: 40px;
}

tr td {
  padding-top: 20px;
}
